article {
  margin: auto;
  min-width: 800px;
  width: 75%; }

@media all and (max-width: 799px) {
  article {
    min-width: 0;
    width: 100%; } }
header {
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  text-align: center; }
  header h1 {
    font-size: 300%;
    font-weight: 300;
    margin-bottom: 0; }
  header a {
    color: #008888;
    display: inline-block;
    margin-right: 5px;
    padding-left: 5px;
    text-decoration: none; }
    header a:hover {
      color: white;
      text-decoration: underline; }
    header a:active {
      color: #00bb00; }
    header a:last-child {
      border-left: 1px solid black; }

form#data-form {
  font-family: Helvetica, Arial, sans-serif;
  margin: auto; }

input.title {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 200%;
  font-weight: 300;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%; }
  input.title.empty {
    background-color: #eeeeee; }
  input.title:hover {
    background-color: #eeffee; }
  input.title:focus {
    background-color: #ffffee; }

.field {
  margin-bottom: 20px; }

textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  font-size: 125%;
  padding: 10px;
  width: 100%; }

table#data-table {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%; }
  table#data-table tr:nth-child(even) {
    background-color: #eeeeee; }
    table#data-table tr:nth-child(even) input {
      background-color: #eeeeee; }
  table#data-table tr:hover {
    background-color: #ffffee; }
    table#data-table tr:hover input {
      background-color: #ffffee; }
  table#data-table tr:first-child {
    background-color: white; }
    table#data-table tr:first-child th, table#data-table tr:first-child td {
      border-bottom: 1px solid black; }
    table#data-table tr:first-child input {
      background-color: white;
      font-weight: bold; }
    table#data-table tr:first-child:hover {
      background-color: #eeffee; }
      table#data-table tr:first-child:hover input {
        background-color: #eeffee; }
  table#data-table tr input:focus {
    background-color: #eeffff; }
  table#data-table tr:first-child input:focus {
    background-color: #ffffee !important; }
  table#data-table th, table#data-table td {
    border: 1px solid #eeeeee;
    text-align: left; }
  table#data-table input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
    font-size: 125%;
    padding: 10px;
    width: 100%; }

.table-actions {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 5px;
  text-align: right; }
  .table-actions a {
    color: #008888;
    display: inline-block;
    font-size: 125%;
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none; }
    .table-actions a:hover {
      color: #00bbbb; }

input#save-button {
  background-color: #aeaeae;
  border: 2px solid white;
  cursor: pointer;
  display: inline-block;
  font-size: 125%;
  padding: 10px;
  width: 100px; }
  input#save-button:hover {
    background-color: #eeffff;
    border-color: black; }
  input#save-button:active {
    background-color: #eeffee;
    border-color: black; }

.description {
  border-bottom: 1px solid black;
  font-size: 150%;
  margin-bottom: 10px;
  padding-bottom: 10px; }
  .description p:last-child {
    margin-bottom: 0; }

.notices {
  position: fixed;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  background-color: white;
  border: 3px solid black;
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px; }
  .notices .notice {
    color: #880000;
    font-size: 200%;
    font-weight: bold; }
  .notices .dismiss {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #eeeeee;
    color: black;
    display: inline-block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 60px; }
    .notices .dismiss:hover {
      color: #00bb00; }
