$blue:   #eff
$yellow: #ffe
$green:  #efe
$gray:   #eee

body
  margin: auto
  width: 75%

h1
  font-family: Helvetica, Arial, sans-serif
  font-size: 300%
  font-weight: 300
  text-align: center

form#data-form
  font-family: Helvetica, Arial, sans-serif
  margin: auto
  width: 75%

input.title
  border: none
  border-bottom: 1px solid black
  box-sizing: border-box
  display: block
  font-family: Helvetica, Arial, sans-serif
  font-size: 200%
  font-weight: 300
  margin-bottom: 20px
  padding: 10px
  width: 100%

  &.empty
    background-color: $gray

  &:hover
    background-color: $green

  &:focus
    background-color: $yellow

.field
  margin-bottom: 20px

textarea
  box-sizing: border-box
  display: block
  font-size: 125%
  padding: 10px
  width: 100%

table#data-table
  border: 2px solid black
  border-collapse: collapse
  box-sizing: border-box
  margin-bottom: 20px
  width: 100%

  tr
    &:nth-child(even)
      background-color: $gray
      input
        background-color: $gray

    &:hover
      background-color: $yellow
      input
        background-color: $yellow

    &:first-child
      background-color: white
      th, td
        border-bottom: 1px solid black
      input
        background-color: white
        font-weight: bold
      &:hover
        background-color: $green
        input
          background-color: $green

    input:focus
      background-color: $blue

    &:first-child
      input:focus
        background-color: $yellow !important

  th, td
    border: 1px solid $gray
    text-align: left

  input
    border: none
    box-sizing: border-box
    font-size: 125%
    padding: 10px
    width: 100%

input#save-button
  background-color: darken($gray, 25%)
  border: 2px solid white
  cursor: pointer
  display: inline-block
  font-size: 125%
  padding: 10px
  width: 100px

  &:hover
    background-color: $blue
    border-color: black

  &:active
    background-color: $green
    border-color: black
