body
  margin: auto
  width: 75%

input.title
  border: none
  border-bottom: 1px solid black
  display: block
  font-family: Helvetica, Arial, sans-serif
  font-size: 200%
  font-weight: 300
  margin: 10px auto 20px
  padding: 10px
  width: 80%

  &.empty
    background-color: #efe

  &:focus
    background-color: #ffe

table#data-table
  border: 2px solid #000
  border-collapse: collapse
  margin: auto
  width: 80%

  tr
    &:nth-child(even)
      background-color: #eee
      input
        background-color: #eee

    &:hover
      background-color: #ffe
      input
        background-color: #ffe
        &:hover
          background-color: #eff

    &:first-child
      background-color: #fff
      th, td
        border-bottom: 1px solid black
      input
        background-color: #fff
        font-weight: bold

  th, td
    border: 1px solid #eee

  input
    border: none
    font-size: 125%
    padding: 10px
