!!!
%head
  %title ChartMaker
  = javascript_include_tag("http://code.jquery.com/jquery-1.9.1.min")
  = javascript_include_tag("http://code.highcharts.com/highcharts")
  = javascript_include_tag("hightables.min")

%body
  %section.chart-section
    %p This is where the chart will be rendered.

  %section.table-section
    %p This is where an editable table will go.
